*.log
*.old

# flexget
.config-lock
db-config*

# gtk
gtkfilechooser.ini

# neomutt
token

# python
__pycache__

# systemd
default.target.wants
timers.target.wants

# transmission-daemon
dht.dat
stats.json
resume/
torrents/

# zsh
.zcompdump
