*.log
*.old

# Julia
Manifest*.toml

# neomutt
token

# newsboat
urls

# neovim
*.spl
*.sug

# python
__pycache__

# systemd
default.target.wants
timers.target.wants

# transmission-daemon
**/transmission-daemon/**

# zsh
.zcompdump
