[Unit]
Description=Mailbox synchronization timer

[Timer]
OnBootSec=30
OnUnitActiveSec=60
AccuracySec=1
Unit=mailsync.service

[Install]
WantedBy=timers.target
