@theme "dracula"

configuration {
	font: "NotosansMono Regular 12";
	/* rebind vim-like */
	kb-accept-entry: "Return";
	kb-remove-to-eol: "Control+Shift+e";
	kb-row-down: "Down,Control+n,Control+j";
	kb-row-up: "Up,Control+p,Control+k";
}

window {
	width: 30%;
}
